/* 
    Document   : Picture Slider
    Created on : Feb 28, 2013, 9:56:47 PM
    Author     : griffen
    Description:
        Purpose of the stylesheet follows.
*/

.picture-slider {
    color: #000066;
}

/*
    CarouFredSel
*/
.html_carousel {
    padding: 0px 0px 0px 0px;
    display: inline-block;
}
.html_carousel div.slide {
    position: absolute;
}
.html_carousel div.slide div {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: none;
    position: absolute;
    bottom: 0;
}
.html_carousel div.slide div {
    position: absolute;
    bottom: 4px;
}
.html_carousel div.slide h4 {
    font-size: 35px;
    padding: 10px 0 0 100px;
}
.html_carousel div.slide p {
    font-size: 16px;
    padding: 10px 0 30px 100px;
}
.html_carousel div.slide h4, .html_carousel div.slide p {
    color: white;
    margin: 0;
}
.image_carousel {
    padding: 15px 0 15px 40px;
}
.image_carousel img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 7px;
    display: block;
    float: left;
}
.list_carousel {
    padding: 15px 0 15px 40px;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 30px;
    color: #666;
    text-align: center;
    background-color: #f0f0f0;
    border: 5px solid #ccc;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.clearfix {
    float: none;
    clear: both;
}
#pager {
    text-align: center;
    padding-top: 10px;    
}
#pager a {
    background: #ccc;
    display: inline-block;
    border-radius: 5px;
    width: 10px;
    height: 10px;
    margin: 0 2px;
}
#pager a.selected {
    background: #999;
}
#pager a:hover {
    background: #666;
}
#pager a span {
    display: none;
} 

